<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>BoptBoard</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <style type="text/css" media="all">
      /* .modebar{ */
      /*   display: none !important; */
      /* } */
    </style>

    <script type="text/javascript">
      $(document).ready( function () {
        $("table").DataTable({
          "pageLength": 200,
          "order": [[2, "desc"]]
        });
      });

    </script>
  </head>
  <body>
    <div class="container">
      <h2>Experiment: {{experiment}}</h2>

      <div id="kernel-params-plot"></div>
      <script>
        Plotly.plot("kernel-params-plot", [
          {% for name, kernel_params in kernel_params_list %}
            {
              y: {{kernel_params|safe}},
              name: "{{name}}"
            },
          {% endfor %}
        ], {
          xaxis: { title: "samples" },
          yaxis: { title: "value" }
        });
      </script>


      <div id="convergence-plot"></div>
      <script>
        Plotly.plot("convergence-plot", [
          {
            y: {{sample_results|safe}},
            name: "results"
          },
          {
            y: {{sample_results_cummax|safe}},
            name: "maximum"
          }
        ], {
          xaxis: { title: "samples" },
          yaxis: { title: "result" }
        });
      </script>

      <table data-toggle="table" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Sample</th>
            <th>Hyperparams</th>
            <th>Result</th>
          </tr>
        </thead>

        <tbody>
          {% for sample in experiment.samples %}
          <tr>
            {% if sample.job %}
              <td>{{sample.job.job_id}}</td>
            {% else %}
              <td>manual</td>
            {% endif %}
            <td>{{sample.hyperparam_values}}</td>
            <td>{{sample.result}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </body>
</html>
