{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <ul>
        {% for experiment, dirname in zipped_experiments_dirnames %}
          <li>
            <a href="/multi/{{loop.index - 1}}">{{dirname}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-6" id="convergence-plot"></div>

    <script>
      Plotly.plot("convergence-plot", [
        {% for experiment, dirname in zipped_experiments_dirnames %}
          {
            y: {{experiment.sample_cumulative_results()|safe}},
            name: "{{dirname}}"
          },
        {% endfor %}
      ], {
        title: "Convergence plot",
        xaxis: { title: "samples" },
        yaxis: { title: "objective" }
      });
    </script>
  </div>

  <div class="row">
    <div class="col-md-12" id="histograms"></div>
    <script>
      Plotly.plot("histograms", [
        {% for experiment, dirname in zipped_experiments_dirnames %}
          {
            x: [
              {% for sample in experiment.samples %}
                {% if sample.result %}
                  {{sample.result}},
                {% endif %}
              {% endfor %}
            ],
            type: "histogram",
            name: "{{dirname}}"
          },
        {% endfor %}
      ], { barmode: "stack" })
    </script>
    {% for experiment, dirname in zipped_experiments_dirnames %}
      <p>
        {{dirname}} | 
        {% for sample in experiment.samples %}
          {% if sample.result %}
            {{sample.result | round(2) }},
          {% endif %}
        {% endfor %}
      </p>
    {% endfor %}
  </div>
</div>
{% endblock %}
