<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>OptBoard</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <h1>Graph</h1>
    <div id="tester" style="width:600px;height:250px;"></div>

    <h2>Experiment</h2>

    Directory: {{experiment.meta_dir}}
    <h3>Hyperparameters</h3>

    <ul>
      {% for param in experiment.hyperparameters %}
        <li>{{param.name}}: ({{param.range.low}}, {{param.range.high}})</li>
      {% endfor %}
    </ul>

    <pre>
      {{e}}
    </pre>

    <script>
      var data = {{data|safe}};

      TESTER = document.getElementById('tester');
      Plotly.plot( TESTER, [{
        x: data.x,
        y: data.y
      }], {
        margin: { t: 0  }
      }  );
    </script>
  </body>
</html>
