<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>OptBoard</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
      $(document).ready( function () {
        $("table").DataTable();
      });
    </script>

  </head>
  <body>
    <h2>Experiment: {{experiment.meta_dir}}</h2>

    <div class="row">

      <div class="col-md-6">
        <h3>Hyperparameters</h3>

        <ul>
          {% for param in experiment.hyperparameters %}
            <li>{{param.name}}: ({{param.range.low}}, {{param.range.high}})</li>
          {% endfor %}
        </ul>

        <pre>
          {{e}}
        </pre>
      </div>

      <div class="col-md-6">
            <div id="job-all" style="width:600px;height:200px;"></div>
            <script>
              TESTER = document.querySelector("#job-all");
              Plotly.plot( TESTER, [
                {% for job in experiment.evaluations %}
                  {
                    y: {{job.intermediate_results()|safe}}
                  },
                {% endfor %}
              ], {
                yaxis: {
                  range: [0, 500]
                },
                margin: { t: 10, b: 10 }
              });
            </script>
      </div>
    </div>

    <h3>Jobs</h3>

    <table data-toggle="table" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>JobID</th>
          <th>Hyperparams</th>
          <th>Final value</th>
          <th>Intermediate</th>
        </tr>
      </thead>

      <tbody>
        {% for job in experiment.evaluations %}
          <tr>
            <td>{{job.job_id}}</td>
            <td>{{job.run_parameters}}</td>
            <td>{{job.final_result()}}</td>
            <td>
              <div id="job-{{job.job_id}}" style="width:400px;height:75px;"></div>
              <script>
                TESTER = document.querySelector("#job-{{job.job_id}}");
                Plotly.plot( TESTER, [
                  {
                    y: {{job.intermediate_results()|safe}}
                  }
                ], {
                  yaxis: {
                    range: [0, 500]
                  },
                  margin: { t: 10, b: 10 }
                });
              </script>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div id="tester" style="width:600px;height:250px;"></div>

    <script>
      var data = {{data|safe}};

      TESTER = document.getElementById('tester');
      Plotly.plot( TESTER, [{
        x: data.x,
        y: data.y
      }], {
        margin: { t: 0  }
      }  );
    </script>
  </body>
</html>
